body {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: "Roboto", sans-serif;
    background-color: #f0f1f8;
}

/* this is for the heading */
header {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

/* navigation bar*/
.nav {
    display: flex;
    justify-content: space-between;
    width: 70%;
    align-items: center;
}


h1 {
    display: block;
    margin-left: 5px;

}

.nav a {
    display: flex;
    margin-right: 5px;
    text-decoration: none;
    color: snow;
    border: 1px solid #2D3250;
    height: 30px;
    width: 90px;
    background-color: #2D3250;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
}

/* info-section*/
.info {
    display: flex;
    align-items: top;
    flex-direction: row;
    height: 250px;
   margin-top: 20px;
   margin-bottom: 50px;
   justify-content: space-between;
}


.get-started {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 50%;
    height: 350px;
}

h2 {
    display: flex;
    width: 80%;
    font-size: 40px;
    justify-content: center;
    align-items: center;
    margin: 30px;
    margin-bottom: 0;
}

.get-started p {
    display: flex;
    justify-content: center;
    align-items: top;
    width: 90%;
    height: 70px;
    margin-bottom: 40px;
    margin-top: 0;
}
.get-started a {
    display: flex;
    margin-right: 5px;
    text-decoration: none;
    color: snow;
    height: 50px;
    width: 30%;
    background-color: #f90339ca;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
}

.courses {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 60%;
    flex-basis: 10%;
}

.courses div {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 200px;
    flex-direction: column;
    background-color: snow;
    margin: 10px;
    height: 200px;
    border-radius: 15px;
}